body{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

#qr-code{
    border:2px solid black;
    padding:20px;
    height:auto;
}
#inputText{
    display:block;
    margin-bottom: 10px;
    height:30px;
    border-radius: 3px;
    width:100%;
    
}
#GenerateButton{
    display:block;
    margin:0 auto;
    width: 80%;
    height: 25px;
    border:none;
    background-color: greenyellow;
    font-weight: bold;
}
#img{
    display:block;
    margin:0 auto;
    margin-top:7px;
}